<?php
    global $CFG;
    global $COURSE;
    $lib = $CFG->dirroot . '/mod/wwassignment/locallib.php';
    require_once($lib);
    $client = new wwassignment_client();
    $options = $client->options_course(true);
    $coursecontext = get_context_instance(CONTEXT_COURSE, $COURSE->id);
	//ww only allows a-z A-Z - and _ in the name, replace spaces with dashes and remove others
	$wwshortname = preg_replace("/[^a-zA-Z0-9\-\_]/", "", str_replace(array(" & ", " "), "-", $COURSE->shortname));
    if (is_array($options)) {
        if (has_capability('moodle/site:config', $coursecontext)) {
            // admin can link any WeBWorK class
            $wwoptions = $options;
        } else {
            // block editors need only add matching WeBWorK class
            foreach ($options as $key => $opt) {
                if ($key == $wwshortname) {
                    $wwoptions = array($key => $opt);
                    break;
                }
            }
        }
    }
?>
<table cellpadding="9" cellspacing="0" align="center">
    <?php if(!file_exists($lib)) { ?>
    <tr valign="top">
        <td align="center">
            <?php echo '<strong>'.get_string('config_wwassigment_mod_missing','block_wwlink').'</strong>'; ?>     
        </td>
    </tr>
    <?php } else { ?>
    <?php if (!empty($wwoptions)) { ?>
    <tr valign="top">

        <td align="right">
            <?php print_string('config_select_webwork_course', 'block_wwlink'); ?>
        </td>
        <td align="center">
            <?php
                choose_from_menu($wwoptions,'webwork_link_id',empty($this->config->webwork_link_id) ? 0 : $this->config->webwork_link_id);
            ?>
            <input type="hidden" name="courseid" value="<?php echo $COURSE->id;?>" />
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" value="<?php print_string('savechanges') ?>" />
        </td>
    </tr>
    <?php } else { ?>
    <tr>
        <td colspan="2" align="center">
        Sorry, a WeBWorK Course named "<?php echo $wwshortname; ?>" could not be found. Please contact the WeBWorK administrator to have your class added.
        </td>
    </tr>
    <?php } ?>
    <?php } ?>
</table>